<!DOCTYPE html>
<!-- Default Layout Import-->
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/defaultLayout}"
	layout:fragment="Content"
>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/employee.css" />
    <script src="js/jquery-3.6.4.js"></script>
    <script src="js/common.js"></script>
</head>

<body>
    <div id="page-content-wrapper">
        <div class="container-fluid center">
            <div style="display: contents; text-align: center;">
                <div style="margin-top: 100px; font-size: xx-large; color: gainsboro;">
                    <h1>401</h1>
                </div>
                <div>
                    <h2>페이지 접근 권한이 없습니다.</h2>
                </div>
                <div style="color: grey;">
                    <p>인증 cookie 생성 Test</p>
                    <p>1. 아래 버튼 클릭하여 인증 cookie 임시 생성</p>
                    <p>2. 상단의 "Auth" 메뉴를 선택해서 확인</p>
                    <button onclick="create_auth_cookie()">Cookie 생성</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script>
    function create_auth_cookie() {
        set_cookie('draco.token-payload'
            , 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzY29wZSI6WyJ3ZWJjbGllbnQiXSwiZXhwIjoxOTk5OTgzNjAzLCJhdXRob3JpdGllcyI6WyJMT0NBTEhPU1RfVEVTVCIsIlJPTEVfMDAwMDAwMDAwMCJdLCJjbGllbnRfaWQiOiJza2lhZm4tdWkifQ.TavllIhWK25hVvtACbYGxCznlEmvXMyRI-kqQqwsgLE'
            , 1);

        alert('인증 cookie 생성 완료');
    }
</script>